@{
    ViewData["Title"] = "Home Page";
}

<br /><br />
<h1>Hello 👋</h1>

<br /><br />
<h5>Choose a file to 💬 translate:&nbsp;&nbsp;<a href="~/File1">#1</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="~/File2">#2</a></h5>

<br /><br /><br />
Thank you 😎

<br /><br />