@{
    ViewData["Title"] = "About";
    ViewData["Company"] = "Semple Ventures";
}
<br /><br />
<h1>Jim Semple</h1>

<h3>@ViewData["Company"]</h3>


<br /><br />
<h4>About Me</h4><br />
<p>Hello, my name is <i>Jim Semple</i>; its nice to meet you! I'm a computer programmer with two decades of experience. I do most of my work under the banner <a href="https://www.sempleventures.com/" target="_blank">Semple Ventures</a> as an IT consultant since 2005 and started programming in 1997 or earlier, with two major full-time positions at 3M Canada (4 years) and Voices.com (2.5 years). I think like an owner (as an entrepreneur/intrapreneur) and want to save the company money (bottom-line) or help grow the top-line (sales) with user forms, programs and efficiency.</p>


<br /><br />
<h4>My Career</h4><br />

<ul>
    <li>Fanshawe College (2 years) - diploma, straight A+ in SQL/database, A/A+ in programming, B/C in business/writing/HR</li>
    <li>3M Canada (4 years)</li>
    <li>IT consultant (2005-2016) - MTO/government, Ontario Hydro (ESA), small businesses and a venture-backed startup</li>
    <li>Voices.com (2.5 years) built an Angular mobile app (with Ionic Framework) to help get the position</li>
    <li>Sciencetech - Windows Forms (.NET Framework) project for Apple gaming, it measured the "# of suns" (for optics)</li>
    <li>Wordpress - managing AWS (Amazon) servers & small business websites, more recently Azure for Skylaw & SkyCorporate</li>
    <li>Education - Node/React, re-learning ASP.NET Code (and .NET 6)</li>
</ul>


<br /><br />
<h4>Personal Roadmap</h4><br />

<p>I decided to go to college at "Funshawe" (Fanshawe College) a year early, and skip prom.. because I was a year-ahead in math, and they called it enriched (or brown-nosing for outsiders). I was really good at it, because I actually loved it as kid. At Fanshawe, I watched many people drop out in the first several weeks of many classes and some of my best friends I met around this time, who stuck around. I often sat in the lab, and taught some of the other students.. or let them look over my shoulder, while coding.</p>

Skills & Highlights:<br />
<ul>
    <li>won a programming award in high school for programming "Business Management" '97 (BM97)</li>
    <li>began Visual Basic 5/6 programming and built an app <b><i>Smart Accounting</i></b> which sold to a bank and university!</li>
    <li>Fanshawe college, expanded my knowledge in Visual Basic, learned Java and more enterprise SQL in Oracle</li>
    <li>first IT career I built Java apps which communicated with the mainframe, DB2 and worked in XML/XSD translations for EDI</li>
    <li>learned Six Sigma (Green Belt) and became the lead developer/programmer on a Sales Volume Rebate (SVR) project, it won a 3M company Top 10 CAPS award</li>
    <li>world travel (30 countries or so) they offered me a leave of absense (i said "nah" and sometimes wonder about that choice, i was much younger)</li>
    <li>worked with some startups (venture-backed) or small business owners and met some amazing people, outside of the corporation for a long-time</li>
    <li>found Voices.com at a local trade show, and so happened the EA was my childhood neighbour.. sometimes it is who you know, to give you an opportunity!</li>
    <li>loved the people at the company.. but it got complicated, cut-throat and woke after they received bigtime money from an investment bank</li>
    <li>taking on money/debt is always complicated, so you need to be prepared to make some moral sacrifices running with it</li>
</ul>

<p>My mother was always a great leader/CEO type and involed with non-profits in the city, and she always had brand new IBM computers at home when my sister & I were kids. We'd play games mostly, and beg for upgrades to RAM and more hard disk space, so eventually I'd take apart her computer to do it myself and then start a business with my friend as teenagers we sold about $40K worth of custom computers. That's when I started programming, to create an invoicing solution for our business.. it really led me down the rabbit-hole, and an entire career path! I wondered why we didn't just buy Quickbooks (or whatever) maybe it was expensive for a teenager.. I'll never remember.</p>

<p>To be good at programming, I believe you need to be great at math. I just did what challenged me, it was never about ego but challenging boundaries, and I've always been very good at recognizing patterns. I guess you could say, I was destined to be a programmer... A couple of the kids in high school that I played sports with (Ed &amp; Brett) lived nearby, so we played games... on our dialup modems, upgraded system menus and Windows OS from Windows 3.1 to 95 and so on. My grandfather had a decent computer, and as a young kid I would play video games all the time on Christmas, like Wolfenstein 3D and later DOOM. I was just a passionate kid, curious about the world.. and travelling.</p>


<br /><br />
<h4>Blast from the Past</h4><br />

<p>Back then it was simple, you chose a language.. there was one (1) project, or maybe a couple of types and you got started building. Less choices, now there are many options. The new stuff has hundreds of templates, even JavaScript/TypeScript React projects on-top of .NET Core MVC in Visual Studio 2022 instead of Node.js directly.</p>

<p>My cousin (in his twenties) said "PHP is a dead language", and he works in the newest CI/CD with Docker, Go language (from Google), Python and React. While I still believe that PHP is the "purest" web programming language after Perl/CGI scripts, and is still very easy/useful and content-oriented.. I had to take a step back and say "am I a dinosaur?", because I've been developing Linux (Red Hat/Centos) servers in AWS (Amazon Web Services) for many years now. It feels to me like these new technologies "save a step" in the design process, with the scaffolding/underpinning all pre-coded for you. I have experience from the ground-up, built my own frameworks, or modified existing code from others. It's not perfect, everyone designs things slightly different, like an artist. You have to be willing to adapt, change and learn new tricks.</p>


<br /><br />
<h4>What makes a <b>great</b> Programmer?</h4><br />

Thoughts & Beliefs:<br />
<ul>
    <li>pattern recognition, visual learning and good memory re-call of patterns observed (or things seen)</li>
    <li>determination, resolve, fortitude</li>
    <li>trust your instincts (your "gut" if you will)</li>
    <li>exposure to a wide variety of languages/experiences</li>
    <li>never stop learning/progressing your craft</li>
    <li>leadership, mentorship and/or collaboration with team members</li>
    <li>no fear of diving "in the trenches" (in code)</li>
    <li>getting started and never quitting</li>
</ul>


<br /><br />
<h4>Technology Shift & Renewed Focus</h4><br />

<p>How does one hire you, knowing that <i><b>you still can</b></i> teach an old dog new tricks? I'm setting out to re-learn my roots, where I got started in Visual Basic (and C#), learned Java (Swing UI) migrating projects from COBOL/mainframe datasets and C/C++ applications to Java applications at 3M Canada. I worked briefly in Java Server Pages (JSP) before beginning to learn C# and start my consulting business. I realize that I've spent many years building in PHP for small enterprise (SME/SMB), and I want to re-learn what I knew from the past, and build with the latest technology/scaffolding in the newest .NET Core Web App, MVC, RESTful API &amp; Razor Pages (or TypeScript React) developer frameworks.</p>

<p>So here I am now.. back in the saddle of .NET again! I never want to stop learning, or re-learning old tricks in a slightly newer language aka delivery system. The fundamentals of being a programmer always stay the same; but you have to be open to change, and grow your skillset to adopt the latest technologies.</p>


<br /><br />